name: Docker Build -> Push -> Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '21'
        
        
    - name: Build Jar
      run: |
        chmod +x ./mvnw
        ./mvnw clean package -DskipTests

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker Image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/glorified-todo:latest .

    - name: Push to Docker Hub
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/glorified-todo:latest

    - name: SSH and Deploy to EC2
      uses: appleboy/ssh-action@v1
      with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            docker rm -f glorified-todo || true
            docker ps -q --filter "publish=8080" | xargs -r docker stop || true
            docker ps -aq --filter "publish=8080" | xargs -r docker rm || true
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/glorified-todo:latest
            docker run -d --restart unless-stopped --name glorified-todo -p 8080:8080 ${{ secrets.DOCKERHUB_USERNAME }}/glorified-todo:latest
